//- title
  - type
  - reqthing
  - info

extends layout

block body
  +navbar("Database", "dropdown_menu")
    +nav_item("/", "active") Home
    +nav_item("/users") Users
    +nav_item("/list") Error

  h1=title
  .container
    pre
      h3 Content
        p Type: #{type} 
          | Req : #{reqthing}
          | #{info}
    +carousel("Dem Hot Cross Buns", [
      {image:"images/0.jpg"},
      {image:"images/1.jpg"},
      {image:"images/2.jpg"}
    ])
    p Welcome to #{title}. Fuck it man, let's make this a little different at least...